.goods{
	display: flex;
	position: absolute;
	top: 3.54rem;
	bottom:0.92rem;
	width: 100%;
	overflow: hidden;
	.menu-wrapper{
		flex:0 0 1.6rem;
		width: 1.6rem;
		background: #f3f5f7;
		.menu-item{
			display: table;
			width: 1.22rem;
			height: 1.08rem;
			line-height: 0.38rem;
			padding: 0 0.24rem;
			&.current{
				position: relative;
				z-index: 10;
				margin-top: -1px;
				background: #fff;
				.text{
					@include border-none();
					font-weight: 700;
				}
			}
			.icon{
		  		display: inline-block;
		  		width: 0.24rem;
		  		height: 0.24rem;
		  		margin-right:0.04rem; 
		  		vertical-align: top;
		  		background-repeat:no-repeat;
		  		background-size: 100% 100%;
		  		&.decrease{
		  			background-image: url("images/decrease_3@2x.png");
		  		}
		  		&.discount{
		  			background-image: url('images/discount_3@2x.png');
		  		}
		  		&.guarantee{
		  			background-image: url('images/guarantee_3@2x.png');
		  		}
		  		&.invoice{
		  			background-image: url('images/invoice_3@2x.png');
		  		}
		  		&.special{
		  			background-image: url('images/special_3@2x.png');
		  		}

		  	}
		  	.text{
		  		display:table-cell;
		  		width: 1.12rem;
		  		font-size: 0.24rem;
		  		vertical-align: middle;
		  		@include border-1px(rgba(7,17,27,0.1));
		  	}
		}
	}
	.foods-wrapper{
		flex:1;
		.title{
			padding-left: 0.28rem;
			height: 0.56rem;
			line-height: 0.56rem;
			border-left: 2px solid #d9dde1;
			font-size: 0.24rem;
			color:rgb(147,153,159);
			background: #f3f5f7;

		}
		.food-item{
				display: flex;
				margin: 0.36rem;
				padding-bottom: 0.36rem;
				@include border-1px(rgba(7,17,27,0.1));
				&:last-child{
					@include border-none();
					margin-bottom: 0;
				}
				.icon{
					flex:0 0 1.14rem;
					margin-right: 0.2rem;
					img{
						display: block;
						width: 1.14rem;
						height: 1.14rem;
					}
				}
				.content{
					flex:1;
					.name{
						margin: 0.04rem 0 0.16rem 0;
						height: 0.28rem;
						line-height: 0.28rem;
						font-size: 0.28rem;
						color:rgb(7,17,27);
					}
					.desc, .extra{						
						line-height: 0.2rem;
						font-size: 0.2rem;
						color:rgb(147,153,159);
					}
					.desc{
						margin-bottom: 0.16rem;
						line-height: 0.34rem;
					}
					.extra{
						.count{
							margin-right: 0.24rem;
						}
					}
					.price{
						font-weight: 700;
						line-height: 0.48rem;
						.now{
							margin-right: 0.16rem;
							font-size: 0.28rem;
							color: rgb(240,20,20);						
						}
						.old{
							text-decoration: line-through;
							font-size: 0.2rem;
							color:rgb(147,153,159);
						}
					}
					.cartcontrol-wrapper{
						position: absolute;
						right: 0;
						bottom: 0.24rem;
					}
				}
			}
	}
}