	.ratings{
		position: absolute;
		top: 3.54rem;
		bottom: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		.overview{
			display: flex;
			padding: 0.36rem 0;
			.overview-left{
				flex: 0 0 2.48rem;
				padding:0.12rem 0;
				width: 2.74rem;
				border-right: 1px solid rgba(7,17,27,0.1);
				text-align: center;
				.score{
					margin-bottom: 0.12rem;
					line-height: 0.56rem;
					font-size: 0.48rem;
					color: rgb(255,153,0);
				}
				.title{
					margin-bottom: 0.32rem;
					line-height: 0.24rem;
					font-size: 0.24rem;
					color: rgb(7,17,27);
				}
				.rank{
					padding-bottom: 0.12rem;					
					font-size: 0.2rem;
					color: rgb(147,153,159);
				}
			}
			.overview-right{
				flex:1;
				padding-left: 0.48rem;
				.score-wrapper{
					margin-bottom: 0.16rem;
					line-height: 0.36rem;
					font-size: 0;
					.title{
						display: inline-block;
						vertical-align: top;
						font-size: 0.24rem;
						color: rgb(7,17,27);
					}
					.star{
							display: inline-block;
							vertical-align: top;
							margin-left: 0.24rem;
							.star-item{
								margin-right: 0.24rem;
							}
						}
						.score{
							display: inline-block;
							vertical-align: top;
							line-height: 0.36rem;
							font-size: 0.24rem;
							color: rgb(255, 153, 0);
					}
				}
				.delivery-wrapper{
					font-size: 0;
					.title{
						line-height: 0.36rem;					
						font-size: 0.24rem;
						color: rgb(7,17,27);
					}
					.delivery{
						margin-left: 0.24rem;
						font-size: 0.24rem;
						color:rgb(147,153,159);
					}
				}
			}		
		}
		.rating-wrapper{
			padding: 0 0.36rem;
			.rating-item{
				display: flex;
        		padding: 0.36rem 0;
        		@include border-1px(rgba(7, 17, 27, 0.1));
        		.avatar{
        			flex: 0 0 0.56rem;
          			width: 0.56rem;
          			margin-right: 0.24rem;
          			img{
          				border-radius: 50%;
          			}
        		}
        		.content{
          			position: relative;
          			flex: 1;
          			.name{
          				margin-bottom: 0.08rem;
            			line-height: 0.24rem;
            			font-size: 0.2rem;
            			color: rgb(7, 17, 27);
          			}
          			.star-wrapper{
          				margin-bottom: 0.12rem;
          				font-size: 0;
          				.star{
          					display: inline-block;
          					margin-right: 0.12rem;
          					vertical-align: top;
          				}
          				.delivery{
          					display: inline-block;
          					vertical-align: top;
          					line-height: 0.24rem;
          					font-size: 0.2rem;
          					color: rgb(147,153,159);
          				}
          			}
          			.text{
          				margin-bottom: 0.16rem;
          				line-height: 0.36rem;
          				color: rgb(7,17,27);
          				font-size: 0.24rem;
          			}
          			.recommend{
          				line-height: 0.32rem;
          				font-size: 0;
          				.icon-thumb_up, .item{
          					display: inline-block;
              				margin: 0 0.16rem 0.08rem 0;
              				font-size: 0.18rem;
          				}
          				.icon-thumb_up{
          					color: rgb(0,160,220);
          				}
          				.item{
          					padding: 0 0.12rem;
          					border: 1px solid rgba(7, 17, 27, 0.1);
          					border-radius: 1px;
          					color: rgb(147,153,159);
          					background: #fff;
          				}              				
          			}
          			.time{
          				position: absolute;
          				top: 0;
          				right: 0;
          				line-height: 0.24rem;
          				font-size: 0.2rem;
          				color: rgb(147, 153, 159);
          			}
				}
        	}
		}
	}