.food {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0.96rem;
		z-index: 30;
		width: 100%;
		background: #fff;
		transition: all 0.2s linear;
		transform: translate3d(0,0,0);
		&.move-enter-active,&.move-leave-active{
			transform: translate3d(100%,0,0);
		}
		.image-header{
			position: relative;
			width: 100%;
			height: 0;
			padding-top:100%;
			img{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			} 
			.back{
				position: absolute;
				top: 0.2rem;
				left: 0;
				.icon-arrow_lift{
					display: block;
					padding:0.2rem;
					font-size: 0.2rem;
					font-size: 0.4rem;
					color: #fff;
				}
			}
		}
		.content{
			position: relative;
			padding:0.36rem;
			.title{
				line-height: 0.28rem;
				margin-bottom: 0.16rem;
				font-size: 0.28rem;
				font-weight: 700;
				color: rgb(7,17,27);
			}
			.detail{
				margin-bottom: 0.36rem;
				line-height: 0.2rem;
				font-size: 0;
				.sell-count,.rating{
					font-size: 0.2rem;
					color: rgb(147,153,159);
				}
				.sell-count{
					margin-right: 0.24rem;
				}
			}
			.price{
				font-weight: 700;
				line-height: 0.48rem;
				.now{
					margin-right: 0.16rem;
					font-size: 0.28rem;
					color: rgb(240,20,20);						
				}
				.old{
					text-decoration: line-through;
					font-size: 0.2rem;
					color:rgb(147,153,159);
				}
			}
			.cartcontrol-wrapper{
			position: absolute;
			right: 0.24rem;
			bottom:0.24rem;
			}
			.buy{
			position: absolute;
			right: 0.36rem;
			bottom: 0.36rem;
			z-index: 10;
			height: 0.48rem;
			line-height: 0.48rem;
			box-sizing: border-box;
			border-radius: 0.24rem;
			color: #fff;
			padding: 0 0.24rem;
			font-size: 0.2rem;
			background: rgb(0,160,220);
			}
		}
		.info{
			padding: 0.36rem;
			.title{
				line-height: 0.28rem;
				margin-bottom: 0.12rem;
				font-size: 0.28rem;
				color: rgb(7,17,27);
			}
			.text{
				line-height: 0.48rem;
				padding:0 0.16rem;
				font-size: 0.28rem;
				color:rgb(77,85,93);
			}
		}
		.rating{
			padding-top: 0.36rem;
			.title{
				line-height: 0.28rem;
				margin-left: 0.36rem;
				font-size: 0.28rem;
				color: rgb(7,17,27);
			}
			.rating-wrapper{
				padding: 0 0.36rem;
				.rating-item{
					position:relative;
					padding: 0.32rem 0;
					@include border-1px(rgba(7,17,27,0.1));
					.user{
					position: absolute;
					right: 0;
					top: 0.32rem;
					line-height: 0.24rem;
					font-size: 0;
						.name{
						display: inline-block;
						vertical-align: top;
						margin-right: 0.24rem;
						font-size: 0.2rem;
						color: rgb(147,153,159);
						}
						.avatar{
						border-radius: 50%;
						}
					}
					.time{
						margin-bottom: 0.12rem;
						line-height: 0.24rem;
						font-size: 0.2rem;
						color: rgb(147,153,159);
					}
					.text{
						line-height: 0.32rem;
						font-size: 0.24rem;
						color: rgb(7,17,27);
						.icon-thumb_up,.icon-thumb_down{
							margin-right: 0.08rem;
							line-height: 0.32rem;
							font-size: 0.24rem;
						}
						.icon-thumb_up{
						color: rgb(0,160,220);
						}
						.icon-thumb_down{
						color: rgb(147,153,159);
						}
					}
				}
				.no-rating{
					padding: 0.32rem 0;
					font-size: 0.24rem;
					color: rgb(147,153,159);
				}
				
			}
		}	
	}