@media (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5){
	.border-1px{
	&::after{
		-webkit-tranform:scaleY(0.7);
		transform:scaleY(0.7);
	}
}
}
.clearfix{
	display: inline-block;
	:after{
		content:'';
		display: block;
		height: 0;
		line-height: 0;
		clear: both;
		visibility: hidden;
	}
}


@media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2){
	.border-1px{
	&::after{
		-webkit-tranform:scaleY(0.5);
		transform:scaleY(0.5);
	}
}
}

